<div class="edit-post-body">
  <h1>Edit post</h1>
  
  <%= render "form", post: @post %>
</div>


<div class="shared-links">
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
